header{
    padding: 29px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    .social-media{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 40px;
        a{
            color: #A9A9A9;
        }
    }
}